<header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-ng-click="$ctrl.toggleMenuLeft()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <p class="navbar-text pull-left">Angular swipe navigation drawer</p>

            <button type="button" class="btn btn-default navbar-btn pull-right" data-ng-click="$ctrl.toggleMenuRight()">
                Show right menu
            </button>
        </div>
    </div>
</header>

<nav class="menu-left" data-swipe-nav-drawer="left" data-drawer-fixed="768">
    <h1>{{ $ctrl.menuLeft }}</h1>
</nav>

<nav class="menu-right" data-swipe-nav-drawer="right">
    <h1>{{ $ctrl.menuRight }}</h1>
</nav>
