manager {
  header {
    color: #fff;

    &.navbar-default .navbar-toggle {
      float: left;
      margin-left: 15px;

      &:focus {
        background-color: transparent;
      }
    }
  }

  .menu-left {
    width: 300px;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-right {
    width: 150px;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }
}
