<header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-ng-click="$ctrl.toggleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>



</header>

<nav class="menu" data-swipe-nav-drawer data-swipe-nav-drawer-control="$ctrl.menuControl">
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
    <h1>MENU</h1>
</nav>
