home .container-fluid {
  padding-top: 70px;
}
home .panel-body {
  height: 200px;
}
manager header {
  color: #fff;
}
manager header.navbar-default .navbar-toggle {
  float: left;
  margin-left: 15px;
}
manager header.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
manager .menu {
  width: 250px;
  background: #fff;
}
